<script src="scripts/formDisplay.js" charset="utf-8"></script>
<link rel="stylesheet" href="styles/formDisplay.css">

<h3 align="center"> USER DEPARTMENT </h3>
<br>
<div class="container">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>UserID</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Admin?</th>
            </tr>
            <tr>
                <th><input class="form-control" type="number" ng-model="search.userId"></th>
                <th><input class="form-control" type="text" ng-model="search.name"></th>
                <th><input class="form-control" type="number" ng-model="search.mobile"></th>
                <th><input class="form-control" type="text" ng-model="search.admin"></th>
                <th>
                    <button type="button" class="btn btn-info btn-sm" ng-click="search = undefined">
                        <span class="glyphicon glyphicon-search"></span> Clear Search
                      </button>
                </th>
            </tr>
        </thead>

        <tr data-ng-repeat="User in UserList | filter:search">
            <td>{{ User.userId }}</td>
            <td>
                <div id="{{ User.userId }}name" class="{{ User.userId }}text">{{ User.name }}</div> <input id="name" value="{{ User.name }}" data-ng-model="EditUser.name" name="name" type="text" class="{{ User.userId }}input editInput form-control" required></td>
            <td>
                <div id="{{ User.userId }}mobile" class="{{ User.userId }}text">{{ User.mobile }}</div>
                <input id="mobile" data-ng-model="EditUser.mobile" name="mobile" type="number" class="{{ User.userId }}input editInput form-control" required>
            </td>
            <td>
                <div class="{{ User.userId }}text">{{ User.admin }}</div>
                <input id="admin" data-ng-model="EditUser.admin" name="edition" type="text" class="{{ User.userId }}input editInput form-control" required>
            </td>

            <td colspan="2">
                <button id="{{ User.userId }}" class="updateButton btn btn-info btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button id="{{ User.userId }}updateSave" class="updateSave btn btn-success btn-sm" data-ng-click="UpdateData(User.userId,EditUser)">
                <span class="glyphicon glyphicon glyphicon-floppy-save"></span>
                </button>
                <button class="btn btn-danger btn-sm" data-ng-click="DeleteData(User)">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>

    </table>

    <form name="myform">
        <table id="adddata" class="table table-hover">
            <tr>
                <td>
                    <div class="form-group">
                        {{ counter +1 }}
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input ng-model="UserModel.name" name="name" type="text" class="form-control" required>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input ng-model="UserModel.mobile" name="mobile" type="number" class="form-control" min="1111111111" max="9999999999" required>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select ng-model="UserModel.admin" name="admin" class="form-control">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>

                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <button class="btn btn-info btn-sm" ng-click="AddData(myform.$valid)" type="submit" name="action">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
